<p>
  <%= link_to 'All Events', events_path %> |
  <%= link_to 'My Events', my_events_events_path(user_id: current_user.id) %>
</p>

<h3>Edit Event</h3>

<%= form_with(model: @event, local: true, html: { class: "form" }) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter event name", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: "Enter event description", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_area :location, class: "form-control", placeholder: "Enter event location", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control", placeholder: "Select event date", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.time_field :time, class: "form-control", placeholder: "Select event time", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :total_tickets %>
    <%= form.number_field :total_tickets, class: "form-control", placeholder: "Enter available tickets count", required: true, min: @event.booked_tickets %>
  </div>

  <%= form.hidden_field :booked_tickets, value: (@event.booked_tickets || 0) %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= form.submit "Update Event", class: "btn btn-primary" %>
  </div>
<% end %>